
{% include 'admin/header.html' %}

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h2>Bienvenid@  <strong>{{ session['usuario']  }}</strong>  del Sitio Web</h2>
            <p>.</p>
            <button class="btn btn-outline-primary" type="button">Example button</button>
        </div>
    </div>
    <div class="col-md-6">
        <div
            class="h-100 p-5 bg-primary border rounded-3">
            <h2>EMPEZAR GESTION</h2>
            <button class="." type="button">Example button</button>
        </div>
    </div>
</div>

{% include 'admin/footer.html' %}
